APP_PORT=3000

TYPEORM_CONNECTION=mysql
TYPEORM_DATABASE=point_central_service
TYPEORM_ENTITIES=src/modules/**/*.entity.ts
TYPEORM_HOST=drecordconn.flashcoffeetech.com
TYPEORM_LOGGING=0
TYPEORM_MIGRATIONS=src/migrations/**/!(*.spec.ts)
TYPEORM_MIGRATIONS_DIR=src/migrations
TYPEORM_PASSWORD=
TYPEORM_PORT=20121
TYPEORM_USERNAME=